.product {
    padding-bottom: 150px;
}

.title {
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.product__title:after {
    content: '';
    width: 120px;
    height: 2px;
    background-color: #FFFFFF;
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
}

.products {
    display: grid;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 635px) {
    .products {
        display: flex;
    }
}