.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    padding: 50px 80px 25px 80px;
}

.cards__image {
    background: #191B1C;
    padding: 55px 22px;
}

.cards__item_name {
    font-family: 'Playfair Display';
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 25px 0px 10px 0px;
}

.cards__item_price {
    font-family: 'Playfair Display';
    font-size: 16px;
    line-height: 19px;
    color: #D0D0D0;
}

@media screen and (max-width: 1295px) {
    .cards {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        padding: 25px 40px 15px 40px;
    }
}


@media screen and (max-width: 868px) {
    .cards {
        padding: 18px 33px 8px 33px;
    }

    .cards__image {
        text-align: center;
    }
}

@media screen and (max-width: 635px) {
    .cards {
        grid-template-columns: 1fr;
        padding: 25px 10px 15px 10px;
    }

    .cards__image {
        border-radius: 25px;
    }

    .cards__item {
        margin-top: 45px;
    }

    .cards__item_name,
    .cards__item_price {
        text-align: center;
    }
}