.footer {
    padding: 17px 0;
}

.footer__block {
    display: flex;
    justify-content: space-around;
}

.footer__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #D0D0D0;
}

.footer__figma_text {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    text-decoration-line: underline;
    color: #D0D0D0;
}